
[submodule "Krakoa/Vendors/ImGui"]
	path = Krakoa/Vendors/ImGui
	url = https://github.com/KingKiller100/imgui
[submodule "Krakoa/Vendors/GLFW"]
	path = Krakoa/Vendors/GLFW
	url = https://github.com/KingKiller100/glfw

[submodule "Krakoa/Vendors/YAML"]
	path = Krakoa/Vendors/YAML
	url = https://github.com/KingKiller100/yaml-cpp.git
