
[submodule "Krakoa\\Vendors\\ImGui"]
	path = Krakoa\\Vendors\\ImGui
	url = https://github.com/KingKiller100/imgui
[submodule "Krakoa/Vendors/glfw"]
	path = Krakoa/Vendors/glfw
	url = https://github.com/KingKiller100/glfw
